<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Читатели</title>
</head>
<body>
<h1>Список читателей</h1>
<ul th:each="person : ${people}">
    <li>
        <a th:href="@{/people/{id}(id=${person.getId()})}"
           th:text="${person.getFio() + ', ' + person.getBirthYear()}">
            fio, birth year
        </a>
    </li>
</ul>
<hr />
<a href="/library">На главную </a>
</body>
</html>