<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Читатели</title>
</head>
<body>
    <h1>Список читателей</h1>
    <form method="get" action="/people/new">
        <input type="submit" value="Новый читатель">
    </form>
    <hr />
    <ul>
        <li th:each="person : ${people}">
            <a th:href="@{/people/{id}(id=${person.getId()})}"
               th:text="${person.getFio() + ', ' + person.getBirthYear()}">
                fio, birth year
            </a>
        </li>
    </ul>
    <hr />
    <a href="/library">&lt;&lt; На главную </a>
</body>
</html>