<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Читатель</title>
</head>
<body>
    <p th:text="${'(id: '+person.getId()+') ' + person.getFio() + ', ' + person.getBirthYear()}">name</p>
    <div th:if="${!books.isEmpty()}">
        <h2>Книги:</h2>
        <ul>
            <li th:each="book : ${books}" th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></li>
        </ul>
    </div>
    <div th:if="${books.isEmpty()}">
        Читатель пока не взял ни одной книги
    </div>
    <hr />
    <form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
        <input type="submit" value="Редактировать"/>
    </form>
    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
        <input type="submit" value="Удалить"/>
    </form>
    <hr />
    <a href="/people">&lt;&lt; К списку</a>
</body>
</html>